<form #employee="ngForm" (ngSubmit)="onSubmit(employee)">
    <div class="form-group">
        <label for="name" [ngClass]="validated.name ? null : 'red'">Imię:</label>
        <input [(ngModel)]="name" type="text" name="name" id="name" class="form-control" placeholder="Podaj imię...">
    </div>
    <div class="form-group">
        <label for="lastName" [ngClass]="validated.lastName ? null : 'red'">Nazwisko:</label>
        <input [(ngModel)]="lastName" type="text" name="lastName" id="lastName" class="form-control" placeholder="Podaj nazwisko...">
    </div>
    <div class="form-group">
        <label for="age" [ngClass]="validated.age ? null : 'red'">Wiek:</label>
        <input [(ngModel)]="age" type="text" name="age" id="age" class="form-control" placeholder="Podaj wiek...">
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input [(ngModel)]="isWinner" type="checkbox" class="form-check-input" name="winner" id="winner" value="checkedValue"> isWinner
        </label>
    </div>
    <div class="form-group">
        <label for="salary" [ngClass]="validated.salary ? null : 'red'">Pensja:</label>
        <input [(ngModel)]="salary" type="text" name="salary" id="salary" class="form-control" placeholder="Podaj zarobki...">
    </div>
    <button class="btn btn-primary">Submit</button>
</form>